*:root{

    --pixel: 8;

}
body{
    display: flex;
    flex-wrap: wrap;
}
div{
    flex:1;
    height:10px;
    width:10px;
    min-width:8;
    flex-basis:8;

align-content: flex-start;

}


/* flex:0 0 100px; */

    /* grid-template-columns: repeat(16, 1fr); */

